/* Content centering for the main content of the page */
@media screen and (min-width: 960px) {
    .content-centered {
        max-width: 940px;
        margin-top: 20px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    .content-centered {
        max-width: 940px;
        margin-top: 20px;
        margin-bottom: auto;
        margin-left: 25px;
        margin-right: 25px;
        text-align: center;
    }
}

/* Margin 10vw from edges of the screen */
.margin-10vw {
    margin-left: 10vw;
    margin-right: 10vw;
}