{% extends 'base.html' %} {% block title %}Haalarimerkki DEX{% endblock %}
{% block content %}
  <br />
  <h1>Tervetuloa käyttämään haalarimerkkiDEXiä</h1>
  <br />
  <h5><i>{{ random_text }}</i></h5>
  <br />

  <!-- if user has not logged on, display buttons to log in or register -->
  {% if not session.username %}
    <div class="btn-group">
      <a href="/login" class="btn btn-primary btn-important center"
        ><span class="material-icons md-18"> login </span> &hairsp; Kirjaudu
        sisään</a
      >
      <span>&nbsp;</span>
      <!-- Add a space between the buttons -->
      <a href="/register" class="btn btn-primary centery"
        ><span class="material-icons md-18"> how_to_reg </span>
        &hairsp;Rekisteröidy</a
      >
    </div>
  {% endif %}

  <br />
  {% with successes = get_flashed_messages(category_filter=["success"]) %}
    {% if successes %}
      {% for success in successes %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
      {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- if user has logged on, display this block  -->
  {% if session.username %}
    <p>Olet kirjautunut nimellä: <b>{{ session.username }}</b></p>

    <br />
  {% endif %}

  <hr />

  <h4>Mikä HaalarimerkkiDEX on?</h4>
  <p>
    Haalarimerkkidex on tarkoitettu kaikille, jotka keräävät haalarimerkkejä.
    <br />Se on tietokanta-applikaatio, johon voit tallentaa kokoelmaan omat
    haalarimerkkisi ja niiden tiedot. Voit myös ihailla muiden käyttäjien
    haalarimerkkejä, selata niitä ja lisätä muiden merkkejä omaan kokoelmaasi.
  </p>
  <br />
  <h4>Miksi tämä on tehty?</h4>
  <p>
    Tämä sovellus on tehty osana Helsingin yliopiston
    <i
      ><a target="_blank" href="https://hy-tsoha.github.io/materiaali/"
        >Tietokannat ja web-ohjelmointi -kurssia</a
      ></i
    >.<br />
    Tavoitteena on oppia tekemään web-sovellus, käyttäen
    Python-ohjelmointikieltä, Flask-kehystä ja Postgres-tietokantoja. <br />
    Ja tietenkin lähdekoodi on
    <i
      ><a target="_blank" href="https://github.com/lamtonylam/haalarimerkkidex">
        avointa!</a
      ></i
    >
  </p>
{% endblock %}
