<div class="text-center">
    {% extends 'base.html' %}
    {% block title %}Tervetuloa{% endblock %}

    {% block content %}

    <br>
    <div style="text-align: center;">
        <h1>Tervetuloa käyttämään haalarimerkkiDEXiä</h1>
        <br>
        <h5><i>{{random_text}}</i></h5>
        <br>
    </div>
</div>


<!-- jos käyttäjä ei ole kirjautunut sisään, näytä kirjautumisnappi -->
{% if not session.username %}
    <div class="btn-group">
        <a href="/login" class="btn btn-primary btn-important">Sign In</a>
        <span>&nbsp;</span> <!-- Add a space between the buttons -->
        <a href="/register" class="btn btn-primary">Register</a>
    </div>
{% endif %}

<!-- jos käyttäjä on kirjautunut sisään  -->
{% if session.username %}
    <p>Olet kirjautunut nimellä <b>{{ session.username }}</b></p>
    <p> Unique ID:si on {{session.user_id}}</p>

    <br>

    <a href="/logout" class="btn btn-primary">Kirjaudu ulos</a>
{% endif %}




{% endblock %}
