{% extends 'base.html' %}

{% block content %}


{% if session.username %}
<p>Olet kirjautunut nimellä <b>{{ session.username }}</b></p>



<h4>Kaikki yhteisön haalarimerkit</h4>

<hr>
    {% for result in results %}
        <p>Merkin nimi: <b> {{ result.name }}</b></p> 
        <a href="/merkki/{{ result.id }}">Katso lisätietoja / Lisää merkki omaan kokoelmaasi</a>
<hr>
{% endfor %}


<h4>Omat merkit:</h4>

<hr>
    {% for result in own_patches_result %}
        <p>Merkin nimi: <b> {{ result.name }}</b></p> 
        <p>Lisätty omaan kokoelmaan: <b>{{result.sent_at.strftime("%Y-%m-%d %H:%M:%S")}}</b></p>
        <a href="/merkki/{{ result.patch_id  }}">Tietoja</a>
<hr>
{% endfor %}





<br>
<br>
<a href="/logout" class="btn btn-primary">Kirjaudu ulos</a>

{% endif %}

{% if not session.username %}
<p>Et ole kirjautunut sisään. Kirjaudu sisään, jotta voit lisätä uusia haalarimerkkejä.</p>
<button onclick="window.location.href='/login'" class="btn btn-primary">Kirjaudu sisään</button>
{% endif %}

{% endblock %}
