{% extends 'base.html' %}
{% block title %}Merkit{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success text-center" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% if session.username %}
    <p>Olet kirjautunut nimellä: <b>{{ session.username }}</b></p>

    <h4>Kaikki yhteisön haalarimerkit</h4>

    <div class="btn-group" role="group">
      {% if request.args.get("sort") == "desc" %}
        <button
          class="btn btn-primary btn-sm"
          onclick="window.location.href='/kirjautunut?sort=asc'"
          data-toggle="tooltip"
          title="Paina tästä lajittelaaksesi vanhimmat merkit ensin"
        >
          Lajittele vanhin ensin
        </button>
      {% endif %}
      {% if request.args.get("sort") == "asc" %}
        <button
          class="btn btn-primary btn-sm"
          onclick="window.location.href='/kirjautunut?sort=desc'"
          data-toggle="tooltip"
          title="Paina tästä lajittelaaksesi uusimmat merkit ensin"
        >
          Lajittele uusin ensin
        </button>
      {% endif %}
      {% if not request.args.get("sort") %}
        <button
          class="btn btn-primary btn-sm"
          onclick="window.location.href='/kirjautunut?sort=desc'"
          data-toggle="tooltip"
          title="Paina tästä lajittelaaksesi uusimmat merkit ensin"
        >
          Lajittele uusin ensin
        </button>
      {% endif %}
    </div>

    <form action="/kirjautunut" method="GET">
      Hae haalarimerkkejä:
      <input
        type="text"
        name="query"
        class="form-control form-box"
        placeholder="Hakusana:"
      />
      <br />
      <input type="submit" value="Lähetä" class="btn btn-primary" />
    </form>

    <hr />
    {% for result, image in results %}
      <p>Merkin nimi: <b>{{ result.name }}</b></p>
      {% if image %}
        <img
          src="data:image/jpeg;base64,{{ image }}"
          alt="Image for patch {{ result[1] }}"
         />
        <br />
        <br />
      {% endif %}
      <a class="btn btn-outline-primary btn-sm" href="/merkki/{{ result.id }}"
        >Katso lisätietoja / Lisää merkki omaan kokoelmaasi</a
      >

      <hr />
    {% endfor %}
  {% endif %}

  {% if not session.username %}
    <p>
      Et ole kirjautunut sisään. Kirjaudu sisään, jotta voit lisätä uusia
      haalarimerkkejä.
    </p>
    <button onclick="window.location.href='/login'" class="btn btn-primary">
      Kirjaudu sisään
    </button>
  {% endif %}
{% endblock %}
