{% extends 'base.html' %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
  <!-- display error message if unsucesful login -->
  {% if message %}
    <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
  {% endif %}

  <div class="container text-center">
    <form action="/login" method="post" class="mx-auto">
      <div class="mb-3">
        <label for="username" class="form-label">Käyttäjätunnus:</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          minlength="1"
          placeholder="Käyttäjätunnus"
          required
          value="{{ username }}"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Salasana:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          minlength="1"
          placeholder="Salasana"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Kirjaudu</button>
    </form>
    <br />
    <a href="/register" class="btn btn-outline-primary"
      >Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen tästä</a
    >
  </div>
{% endblock %}
