{% extends 'base.html' %}

{% block title %}Merkki{% endblock %}

{% block content %}
  {% if session.username %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          {% if referrer == "profile" %}
            <a href="/profile">Profiili</a>
          {% else %}
            <a href="/kirjautunut">Haalarimerkit</a>
          {% endif %}
        </li>
        <li class="breadcrumb-item" aria-current="page">Merkki</li>
      </ol>
    </nav>
    <div class="container">
      <div class="row custom-row">
        <!-- tekstit vasemmalle -->
        <div class="col-sm col-custom">
          <p>Merkin nimi: <b>{{ nimi }}</b></p>
          <p>Kategoria: <b>{{ category }}</b></p>
          <p>Merkin lisännyt käyttäjä: <b>{{ created_by_user }}</b></p>
          <br />
          <form action="/send/new/to_collection" method="POST">
            <input type="hidden" name="id" value="{{ id }}" />
            <input
              type="hidden"
              name="csrf_token"
              value="{{ session.csrf_token }}"
            />
            <button type="submit" class="btn btn-primary">
              Lisää merkki kokoelmaasi
            </button>
          </form>
          <div class="spacing-mobile"></div>
        </div>
        <!-- kuva oikealle -->
        <div class="col-sm col-custom">
          {% if photo %}
            <img
              src="data:image/jpeg;base64,{{ photo }}"
              class="image-thumbnail-merkki"
              alt="Patch Image"
            />
            {% if is_mobile %}
              <p>Zoomaa kuvaa painamalla siitä</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <br />

    {% if comments %}
      <hr />
      <h5>Kommentit:</h5>
      {% for comment, date, username in comments %}
        <ul class="list-group margin-10vw">
          <li class="list-group-item">
            <b>"</b>{{ comment }}<b>"</b> <br />
            Käyttäjältä: {{ username }} <br />
            Lähetetty: {{ date.strftime("%Y-%m-%d %H:%M:%S") }}
          </li>
        </ul>
      {% endfor %}
    {% endif %}

    <hr />
    <form action="/addcomment" method="POST">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="hidden" name="id" value="{{ id }}" />
      <div id="commentform" class="form-group margin-10vw">
        <label for="comment">Lisää kommentti:</label>
        <textarea
          class="form-control"
          id="comment"
          name="comment"
          rows="2"
          maxlength="1000"
          placeholder="Kirjoita kommenttisi haalarimerkistä tähän..."
          required
        ></textarea>
        <br />
        <button type="submit" class="btn btn-primary">Lisää kommentti</button>
      </div>
    </form>

    {% with successes = get_flashed_messages(category_filter=["success"]) %}
      {% if successes %}
        {% for success in successes %}
          <div class="alert alert-success" role="alert">{{ success }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
        {% for error in errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <hr />

    <!-- show delete button without master password if user is the creator of the patch -->
    {% if session.username == created_by_user %}
      <p>
        Olet lisännyt tämän haalarimerkin, voit halutessasi poistaa sen yhteisön
        kokoelmasta.
      </p>
      <form action="/deletepatch" method="POST">
        <input
          type="hidden"
          name="csrf_token"
          value="{{ session.csrf_token }}"
        />
        <div class="form-group">
          <input type="hidden" name="id" value="{{ id }}" />
          <input
            class="form-check-input"
            for="doublecheck"
            type="checkbox"
            value=""
            id="doublecheck"
            required
          />
          <label class="form-check-label" for="doublecheck"
            >Olen varma, että haluan poistaa tämän merkin yhteisön
            kokoelmasta</label
          >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger">
            Poista merkki yhteisön kokoelmasta
          </button>
        </div>
      </form>
    {% endif %}
    {% if session.username != created_by_user %}
      <p>
        Et ole lisännyt tätä haalarimerkkiä itse, joten tarvitse
        master-salasanan sen poistamiseksi.
      </p>
      <br />
      <form action="/deletepatch" method="POST">
        <input
          type="hidden"
          name="csrf_token"
          value="{{ session.csrf_token }}"
        />
        <div class="form-group">
          <input type="hidden" name="id" value="{{ id }}" />
          <input
            class="form-check-input"
            for="doublecheck"
            type="checkbox"
            value=""
            id="doublecheck"
            required
          />
          <label class="form-check-label" for="doublecheck"
            >Olen varma, että haluan poistaa tämän merkin yhteisön
            kokoelmasta</label
          >
        </div>
        <div class="form-group">
          <label class="form-check-label"
            >Anna master-salasana poistaaksesi merkin:
          </label>
          <input type="text" name="masterpassword" required />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger">
            Poista merkki yhteisön kokoelmasta
          </button>
        </div>
      </form>
    {% endif %}
  {% endif %}
  <br />

  {% if not session.username %}
    <p>
      Et ole kirjautunut sisään. Kirjaudu sisään, jotta voit lisätä uusia
      haalarimerkkejä.
    </p>
    <button onclick="window.location.href='/login'" class="btn btn-primary">
      Kirjaudu sisään
    </button>
  {% endif %}
{% endblock %}
