{% extends 'base.html' %}

{% block content %}


    <b>Tervetuloa</b> <i>sovellukseen</i>!


    <form action="/send" method="POST">
        <br>
        <input type="text" class="form-control" id="nimi" name="nimi" placeholder="Haalarimerkin nimi:" required>
        <br>
        <input type="radio" id="tapahtuma" name="hankintapaikka" value="tapahtuma" required>
        <label for="tapahtuma">Tapahtuma</label><br>
        <input type="radio" id="ostettu" name="hankintapaikka" value="ostettu" required>
        <label for="ostettu">Ostettu</label>
        <br>
        <input type="submit" class="btn btn-primary" value="Lähetä">
    </form>



{% endblock %}
