
{% extends 'base.html' %}


{% block content %}


    <b>Tervetuloa</b> <i>sovellukseen</i>!

    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>

    <form action="/send/new/merkki" method="POST" enctype="multipart/form-data">
        <br>
        <div class="form-group"></div>
        <input type="text" class="form-control" id="nimi" name="nimi" placeholder="Haalarimerkin nimi:" required>
        <br>
        <p>Lisää kuva:</p>
        <p>Kuvan pitää olla .jpg tai .jpeg muodossa</p>
        <input type="file" for="formFile" class="form-label" id="file" name="file">
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Lähetä">
    </form>
    {% endif %}

    {% if not session.username %}
    <p>Et ole kirjautunut sisään. Kirjaudu sisään, jotta voit lisätä uusia haalarimerkkejä.</p>
    <button onclick="window.location.href='/login'" class="btn btn-primary">Kirjaudu sisään</button>
    {% endif %}


{% endblock %}
