{% extends 'base.html' %}
{% block title %}Merkit{% endblock %}

{% block content %}

  {% with successes = get_flashed_messages(category_filter=["success"]) %}
    {% if successes %}
      {% for success in successes %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
      {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if session.username %}
    <p>Olet kirjautunut nimellä: <b>{{ session.username }}</b></p>

    <h4>Kaikki yhteisön haalarimerkit</h4>
    <div class="br-tag"></div>
    <form action="/patches" method="GET">
      <div class="form-group">
        <select name="sort" id="sort" class="form-control form-box">
          <option {% if sort_order == "asc" %}selected{% endif %} value="asc">
            Vanhin ensin
          </option>
          <option {% if sort_order == "desc" %}selected{% endif %} value="desc">
            Uusin ensin
          </option>
        </select>
      </div>

      <div class="input-group mb-3 form-box">
        <input
          type="text"
          name="query"
          class="form-control"
          placeholder="Hakusana:"
          aria-label="Hakusana:"
          aria-describedby="button-addon2"
          maxlength="100"
          {% if search_argument %}
            value="{{ search_argument }}"
          {% endif %}
        />
        <select name="category" id="category" class="form-control">
          <option value="">Valitse kategoria</option>
          {% for category in categories %}
            <option
              value="{{ category.id }}"
              {% if category.id == category_searched %}selected{% endif %}
            >
              {{ category.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <a href="/patches" class="btn btn-outline-primary btn">Tyhjennä</a>
      <button class="btn btn-primary btn" type="submit" id="button-addon2">
        Lähetä
      </button>
    </form>

    <hr />
    {% for result, image in results %}
      <p>Merkin nimi: <b>{{ result.name }}</b></p>
      {% if image %}
        <img
          src="data:image/jpeg;base64,{{ image }}"
          alt="Image for patch {{ result[1] }}"
          class="image-thumbnail-kirjautunut"
        />
        <br />
        <br />
      {% endif %}
      <a class="btn btn-outline-primary btn-sm" href="/merkki/{{ result.id }}"
        >Katso lisätietoja / Lisää merkki omaan kokoelmaasi</a
      >

      <hr />
    {% endfor %}
  {% endif %}

  {% if not session.username %}
    <div class="alert alert-warning" role="alert">
      Et ole kirjautunut sisään.
      <a href="/login" class="alert-link">Kirjaudu sisään</a>, jotta voit lisätä
      uusia haalarimerkkejä.
    </div>

    <h4>Kaikki yhteisön haalarimerkit</h4>

    <div class="br-tag"></div>

    <hr />
    {% for result, image in results %}
      <p>Merkin nimi: <b>{{ result.name }}</b></p>
      {% if image %}
        <img
          src="data:image/jpeg;base64,{{ image }}"
          alt="Image for patch {{ result[1] }}"
          class="image-thumbnail-kirjautunut"
        />
        <br />
        <br />
      {% endif %}

      <div class="alert alert-warning" role="alert">
        Katsoaksesi lisätietoja tai lisätäksesi tämän merkin kokoelmaasi,
        <a href="/login" class="alert-link">kirjaudu sisään</a>.
      </div>
      <hr />
    {% endfor %}
  {% endif %}
{% endblock %}
