{% extends 'base.html' %}

{% block title %}Profiili{% endblock %}

{% block content %}

  {% if session.username %}
    <p>Sinun käyttäjätunnuksesi on: <b>{{ username }}</b></p>

    {% if patch_amount == 1 %}
      <p>
        Olet lisännyt omaan kokoelmaasi:
        <b>{{ patch_amount }}</b> haalarimerkin
      </p>
    {% else %}
      <p>
        Olet lisännyt omaan kokoelmaasi:
        <b>{{ patch_amount }}</b> haalarimerkkiä
      </p>
    {% endif %}

    {% if user_submitted_amount == 1 %}
      <p>
        Olet lisännyt yhteisöön:
        <b>{{ user_submitted_amount }}</b> haalarimerkin
      </p>
    {% else %}
      <p>
        Olet lisännyt yhteisöön:
        <b>{{ user_submitted_amount }}</b> haalarimerkkiä
      </p>
    {% endif %}

    <br />

    <h4>Omat merkit:</h4>

    <hr />
    {% for result, image in own_patches_result %}
      <p>Merkin nimi: <b> {{ result.name }}</b></p>
      {% if image %}
        <img
          src="data:image/jpeg;base64,{{ image }}"
          alt="Image for patch {{ result[1] }}"
          class="image-thumbnail-profile"
        />
        <br />
        <br />
      {% endif %}
      <p>
        Lisätty omaan kokoelmaan:
        <b>{{ result.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</b>
      </p>
      <a class="btn btn-primary" href="/merkki/{{ result.patch_id }}">Tietoja</a>
      <hr />
    {% endfor %}
  {% endif %}

  {% if not session.username %}
    <p>Et ole kirjautunut sisään. Kirjaudu sisään.</p>
    <button onclick="window.location.href='/login'" class="btn btn-primary">
      Kirjaudu sisään
    </button>
  {% endif %}
{% endblock %}
