{% extends 'base.html' %}

{% block title %}Rekisteröidy{% endblock %}

{% block content %}

<form action="/register" method="post">
    <div class="mb-3">
    <p>Käyttäjätunnuksen tulee olla 1-20 merkkiä pitkä</p>
    Tunnus: <input type="text" name="username" class="form-control">
    <p>
    <p>Salasanan tulee olla 8-20 merkkiä pitkä</p>
    Salasana: <input type="password" name="password1" class="form-control">
    <p>
    Salasana uudestaan: <input type="password" name="password2" class="form-control">
    <p>
    <input type="submit" value="Luo tunnus">
</div>

</form>

{% endblock %}