{% extends 'base.html' %}

{% block content %}

<form action="/register" method="post">
    <div class="mb-3">
    <p>Käyttäjätunnuksen tulee olla vähintään 1 merkkiä ja ei saa sisältää välilyöntejä.</p>
    Tunnus: <input type="text" name="username" class="form-control">
    <p>
    <p>Salasanan tulee olla vähintään 8 merkkiä, eikä saa sisältää välilyöntejä.</p>
    Salasana: <input type="password" name="password1" class="form-control">
    <p>
    Salasana uudestaan: <input type="password" name="password2" class="form-control">
    <p>
    <input type="submit" value="Luo tunnus">
</div>

</form>

{% endblock %}